#playspace {
    border: 1px solid black;
    height: 500px;
}

#player {
    position: relative;
    background-color: blue;
    height: 60px;
    width: 40px;
    top: 220px;
    left: 10px;
    padding: none;
}

.animate {
    animation: jump 1s linear, jumpmove 1s linear;
}

.shoot {  
    animation: stream 0.5s linear;
}
#bullet {
    position: relative;
    border: 1px solid black;
    width: 1px;
    left: 150px;
}
#rotator {
    position: relative;
    border: 1px solid black;
    height: 50px;
    width: 2px;
    left: 150px;
    background-color: blueviolet;
    animation: rotate 1s infinite;
}


#floor {
    position: relative;
    border: 1px solid black;
    top: 200px;
    padding: none;
}

#obstacle {
    position: relative;
    padding: none;
    background-color: red;
    height: 20px;
    width: 20px;
    top: 200px;
    left: 500px;
    animation: avoid 2s infinite linear;
}

#obspos {
    position: relative;
    border: 1px solid black;
    left: 450px;
    width: 450px;
    height: 100px;
    bottom: 130px;
}
